Document solidproject.org's URI Template

somewhat relevant probably maybe [???](https://web.archive.org/web/sitemap/https://solidproject.org/)

_do not know,_

PR to follow documenting the URI Template for the Solid technical reports:

In a Solid Editors meeting (link to the minutes to follow), an agreement was reached to allocate URIs for the Solid technical reports such as specifications, use cases and requirements, best practices and guidelines, primers, and notes, based on the following URI Template (RFC 6570):

`https://solidproject.org/TR/{id}`

PR to follow including:

Using the ABNF syntax defined in Section 1.2 of RFC 7231 and Section 3 of RFC 3986:

```
solid-project-org           = "https://solidproject.org" solid-paths
solid-paths                 = path / solid-technical-reports
solid-technical-reports     = "TR" technical-report-path
solid-technical-report-path = path-absolute
```

The following URI allocation is requested for the Solid Ecosystem:

https://solidproject.org/TR/ecosystem

URI for the Solid Protocol:

https://solidproject.org/TR/protocol

Other URI allocations will follow. General recommendation is to use hyphen (`-`) separated terms eg. https://solidproject.org/TR/web-access-control

All URLs matching the URI Template for the Solid technical reports (`solid-technical-reports`) are required to be covered by solidproject.org's URI Persistence Policy ( https://github.com/solid/solidproject.org/issues/247 )